<div class="body">
    <section class="featured-section">
        <header class="header__container">
            <div class="header__image">
                <div class="header__image__card header__image__card-1">
                    <span><i class="ri-user-follow-line"></i></span>
                    {{ 'featured_section.header_image_cards.educational_follow_up' | translate }}
                </div>
                <div class="header__image__card header__image__card-2">
                    <span><i class="ri-calendar-todo-line"></i></span>
                    {{ 'featured_section.header_image_cards.personalized_activities' | translate }}
                </div>
                <div class="header__image__card header__image__card-3">
                    <span><i class="ri-flag-line"></i></span>
                    {{ 'featured_section.header_image_cards.defined_objectives' | translate }}
                </div>
                <div class="header__image__card header__image__card-4">
                    <span><i class="ri-parent-line"></i></span>
                    {{ 'featured_section.header_image_cards.parental_guidance' | translate }}
                </div>
                <!-- <img src="assets/img/Autism-bro.png" alt="header" /> -->
                <img src="/assets/image/enfant-autiste.jpg" alt="header" />
            </div>
            <div class="header__content">
                <h2 class="animated-header" [innerHTML]="'featured_section.header_content' | translate"></h2>
            </div>
        </header>
    </section>
    <section class="faq-section section-padding fade-in" id="section_4">
        <div class="container">
            <div class="row">

                <div class="col-lg-6 col-12">
                    <h2 class="mb-4 section-header">{{ 'faq_section.title' | translate }}</h2>
                </div>

                <div class="clearfix"></div>

                <div class="col-lg-5 col-12 slide-in-left">
                    <img src="assets/image/enfant.jpg" class="img-fluid" [alt]="'faq_section.image_alt' | translate">
                </div>

                <div class="col-lg-6 col-12 m-auto slide-in-right">
                    <p [innerHTML]="'faq_section.description' | translate"></p>
                    <div class="accordion" id="accordionExample">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button" type="button" aria-expanded="true" aria-controls="collapseOne">
                                    {{ 'faq_section.accordion.item1.question' | translate }}
                                </button>
                            </h2>

                            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne">
                                <div class="accordion-body">
                                    {{ 'faq_section.accordion.item1.answer' | translate }}
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingTwo">
                                <button class="accordion-button collapsed" type="button" aria-expanded="false" aria-controls="collapseTwo">
                                    {{ 'faq_section.accordion.item2.question' | translate }}
                                </button>
                            </h2>

                            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo">
                                <div class="accordion-body">
                                    {{ 'faq_section.accordion.item2.answer' | translate }}
                                </div>
                            </div>
                        </div>

                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingThree">
                                <button class="accordion-button collapsed" type="button" aria-expanded="false" aria-controls="collapseThree">
                                    {{ 'faq_section.accordion.item3.question' | translate }}
                                </button>
                            </h2>

                            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree">
                                <div class="accordion-body">
                                    {{ 'faq_section.accordion.item3.answer' | translate }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>



    <section class="explore-section section-padding fade-in">
        <div class="container">
            <div class="row">
                <div class="col-12 text-center">
                    <h2 class="section-header" [innerHTML]="'explore_section.title' | translate"></h2>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row">
                <ul class="nav nav-tabs stagger-animation" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="psychology-tab" data-bs-toggle="tab"
                            data-bs-target="#psychology-tab-pane" type="button" role="tab"
                            aria-controls="psychology-tab-pane" aria-selected="true">{{ 'explore_section.tabs.psychology' | translate }}</button>
                    </li>

                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="behaviour-tab" data-bs-toggle="tab"
                            data-bs-target="#behaviour-tab-pane" type="button" role="tab"
                            aria-controls="behaviour-tab-pane" aria-selected="false">{{ 'explore_section.tabs.behaviour' | translate }}</button>
                    </li>

                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="development-tab" data-bs-toggle="tab"
                            data-bs-target="#development-tab-pane" type="button" role="tab"
                            aria-controls="development-tab-pane" aria-selected="false">{{ 'explore_section.tabs.development' | translate }}</button>
                    </li>

                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="emotional-tab" data-bs-toggle="tab"
                            data-bs-target="#emotional-tab-pane" type="button" role="tab"
                            aria-controls="emotional-tab-pane" aria-selected="false">{{ 'explore_section.tabs.emotional' | translate }}</button>
                    </li>

                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="therapy-tab" data-bs-toggle="tab"
                            data-bs-target="#therapy-tab-pane" type="button" role="tab" aria-controls="therapy-tab-pane"
                            aria-selected="false">{{ 'explore_section.tabs.therapy' | translate }}</button>
                    </li>
                </ul>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="psychology-tab-pane" role="tabpanel"
                            aria-labelledby="psychology-tab" tabindex="0">
                            <div class="row stagger-animation">
                                <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-0">
                                    <div class="custom-block bg-white shadow-lg">
                                        <a href="topics-detail.html">
                                            <div class="d-flex">
                                                <div>
                                                    <h5 class="mb-2">{{ 'explore_section.psychology_tab.cognitive_psychology.title' | translate }}</h5>
                                                    <p class="mb-0">{{ 'explore_section.psychology_tab.cognitive_psychology.description' | translate }}</p>
                                                </div>
                                                <span class="badge bg-psychology rounded-pill ms-auto">14</span>
                                            </div>
                                            <img src="assets/image/image1.webp"
                                                class="custom-block-image img-fluid" alt="">
                                        </a>
                                    </div>
                                </div>

                                <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-0">
                                    <div class="custom-block bg-white shadow-lg">
                                        <a href="topics-detail.html">
                                            <div class="d-flex">
                                                <div>
                                                    <h5 class="mb-2">{{ 'explore_section.psychology_tab.developmental_psychology.title' | translate }}</h5>
                                                    <p class="mb-0">{{ 'explore_section.psychology_tab.developmental_psychology.description' | translate }}</p>
                                                </div>
                                                <span class="badge bg-psychology rounded-pill ms-auto">75</span>
                                            </div>
                                            <img src="assets/image/image2.webp"
                                                class="custom-block-image img-fluid" alt="">
                                        </a>
                                    </div>
                                </div>

                                <div class="col-lg-4 col-md-6 col-12">
                                    <div class="custom-block bg-white shadow-lg">
                                        <a href="topics-detail.html">
                                            <div class="d-flex">
                                                <div>
                                                    <h5 class="mb-2">{{ 'explore_section.psychology_tab.psychotherapy.title' | translate }}</h5>
                                                    <p class="mb-0">{{ 'explore_section.psychology_tab.psychotherapy.description' | translate }}</p>
                                                </div>
                                                <span class="badge bg-psychology rounded-pill ms-auto">100</span>
                                            </div>
                                            <img src="assets/image/image3.webp"
                                                class="custom-block-image img-fluid" alt="">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="behaviour-tab-pane" role="tabpanel"
                            aria-labelledby="behaviour-tab" tabindex="0">
                            <div class="row stagger-animation">
                                <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-3">
                                    <div class="custom-block bg-white shadow-lg">
                                        <a href="topics-detail.html">
                                            <div class="d-flex">
                                                <div>
                                                    <h5 class="mb-2">{{ 'explore_section.behaviour_tab.social_behaviour.title' | translate }}</h5>
                                                    <p class="mb-0">{{ 'explore_section.behaviour_tab.social_behaviour.description' | translate }}</p>
                                                </div>
                                                <span class="badge bg-behaviour rounded-pill ms-auto">30</span>
                                            </div>
                                            <img src="assets/image/image4.webp" class="custom-block-image img-fluid"
                                                alt="">
                                        </a>
                                    </div>
                                </div>

                                <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-3">
                                    <div class="custom-block bg-white shadow-lg">
                                        <a href="topics-detail.html">
                                            <div class="d-flex">
                                                <div>
                                                    <h5 class="mb-2">{{ 'explore_section.behaviour_tab.stress_management.title' | translate }}</h5>
                                                    <p class="mb-0">{{ 'explore_section.behaviour_tab.stress_management.description' | translate }}</p>
                                                </div>
                                                <span class="badge bg-behaviour rounded-pill ms-auto">65</span>
                                            </div>
                                            <img src="assets/image/image5.webp" class="custom-block-image img-fluid"
                                                alt="">
                                        </a>
                                    </div>
                                </div>

                                <div class="col-lg-4 col-md-6 col-12">
                                    <div class="custom-block bg-white shadow-lg">
                                        <a href="topics-detail.html">
                                            <div class="d-flex">
                                                <div>
                                                    <h5 class="mb-2">{{ 'explore_section.behaviour_tab.personal_development.title' | translate }}</h5>
                                                    <p class="mb-0">{{ 'explore_section.behaviour_tab.personal_development.description' | translate }}</p>
                                                </div>
                                                <span class="badge bg-behaviour rounded-pill ms-auto">50</span>
                                            </div>
                                            <img src="assets/image/image6.webp" class="custom-block-image img-fluid"
                                                alt="">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="development-tab-pane" role="tabpanel"
                            aria-labelledby="development-tab" tabindex="0">
                            <div class="row stagger-animation">
                                <div class="col-lg-6 col-md-6 col-12 mb-4 mb-lg-0">
                                    <div class="custom-block bg-white shadow-lg">
                                        <a href="topics-detail.html">
                                            <div class="d-flex">
                                                <div>
                                                    <h5 class="mb-2">{{ 'explore_section.development_tab.skills_development.title' | translate }}</h5>
                                                    <p class="mb-0">{{ 'explore_section.development_tab.skills_development.description' | translate }}</p>
                                                </div>
                                            </div>
                                            <img src="assets/image/image7.webp"
                                                class="custom-block-image img-fluid" alt="">
                                        </a>
                                    </div>
                                </div>

                                <div class="col-lg-6 col-md-6 col-12">
                                    <div class="custom-block bg-white shadow-lg">
                                        <a href="topics-detail.html">
                                            <div class="d-flex">
                                                <div>
                                                    <h5 class="mb-2">{{ 'explore_section.development_tab.personal_growth.title' | translate }}</h5>
                                                    <p class="mb-0">{{ 'explore_section.development_tab.personal_growth.description' | translate }}</p>
                                                </div>
                                            </div>
                                            <img src="assets/image/image8.webp"
                                                class="custom-block-image img-fluid" alt="">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="emotional-tab-pane" role="tabpanel"
                            aria-labelledby="emotional-tab" tabindex="0">
                            <div class="row stagger-animation">
                                <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-3">
                                    <div class="custom-block bg-white shadow-lg">
                                        <a href="topics-detail.html">
                                            <div class="d-flex">
                                                <div>
                                                    <h5 class="mb-2">{{ 'explore_section.emotional_tab.emotion_management.title' | translate }}</h5>
                                                    <p class="mb-0">{{ 'explore_section.emotional_tab.emotion_management.description' | translate }}</p>
                                                </div>
                                                <span class="badge bg-emotional rounded-pill ms-auto">40</span>
                                            </div>
                                            <img src="assets/image/image9.webp"
                                                class="custom-block-image img-fluid" alt="">
                                        </a>
                                    </div>
                                </div>

                                <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-3">
                                    <div class="custom-block bg-white shadow-lg">
                                        <a href="topics-detail.html">
                                            <div class="d-flex">
                                                <div>
                                                    <h5 class="mb-2">{{ 'explore_section.emotional_tab.emotional_wellbeing.title' | translate }}</h5>
                                                    <p class="mb-0">{{ 'explore_section.emotional_tab.emotional_wellbeing.description' | translate }}</p>
                                                </div>
                                                <span class="badge bg-emotional rounded-pill ms-auto">55</span>
                                            </div>
                                            <img src="assets/image/image10.webp"
                                                class="custom-block-image img-fluid" alt="">
                                        </a>
                                    </div>
                                </div>

                                <div class="col-lg-4 col-md-6 col-12">
                                    <div class="custom-block bg-white shadow-lg">
                                        <a href="topics-detail.html">
                                            <div class="d-flex">
                                                <div>
                                                    <h5 class="mb-2">{{ 'explore_section.emotional_tab.emotional_intelligence.title' | translate }}</h5>
                                                    <p class="mb-0">{{ 'explore_section.emotional_tab.emotional_intelligence.description' | translate }}</p>
                                                </div>
                                                <span class="badge bg-emotional rounded-pill ms-auto">63</span>
                                            </div>
                                            <img src="assets/image/image11.webp"
                                                class="custom-block-image img-fluid" alt="">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="therapy-tab-pane" role="tabpanel" aria-labelledby="therapy-tab"
                            tabindex="0">
                            <div class="row stagger-animation">
                                <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-3">
                                    <div class="custom-block bg-white shadow-lg">
                                        <a href="topics-detail.html">
                                            <div class="d-flex">
                                                <div>
                                                    <h5 class="mb-2">{{ 'explore_section.therapy_tab.cognitive_behavioral_therapy.title' | translate }}</h5>
                                                    <p class="mb-0">{{ 'explore_section.therapy_tab.cognitive_behavioral_therapy.description' | translate }}</p>
                                                </div>
                                                <span class="badge bg-therapy rounded-pill ms-auto">85</span>
                                            </div>
                                            <img src="assets/image/image12.webp"
                                                class="custom-block-image img-fluid" alt="">
                                        </a>
                                    </div>
                                </div>

                                <div class="col-lg-4 col-md-6 col-12 mb-4 mb-lg-3">
                                    <div class="custom-block bg-white shadow-lg">
                                        <a href="topics-detail.html">
                                            <div class="d-flex">
                                                <div>
                                                    <h5 class="mb-2">{{ 'explore_section.therapy_tab.play_therapy.title' | translate }}</h5>
                                                    <p class="mb-0">{{ 'explore_section.therapy_tab.play_therapy.description' | translate }}</p>
                                                </div>
                                                <span class="badge bg-therapy rounded-pill ms-auto">45</span>
                                            </div>
                                            <img src="assets/image/image13.webp"
                                                class="custom-block-image img-fluid" alt="">
                                        </a>
                                    </div>
                                </div>

                                <div class="col-lg-4 col-md-6 col-12">
                                    <div class="custom-block bg-white shadow-lg">
                                        <a href="topics-detail.html">
                                            <div class="d-flex">
                                                <div>
                                                    <h5 class="mb-2">{{ 'explore_section.therapy_tab.supportive_therapy.title' | translate }}</h5>
                                                    <p class="mb-0">{{ 'explore_section.therapy_tab.supportive_therapy.description' | translate }}</p>
                                                </div>
                                                <span class="badge bg-therapy rounded-pill ms-auto">72</span>
                                            </div>
                                            <img src="assets/image/image14.webp"
                                                class="custom-block-image img-fluid" alt="">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>



    <section class="timeline-section section-padding fade-in" id="section_3">
        <div class="section-overlay"></div>

        <div class="container">
            <div class="row">

                <div class="col-12 text-center">
                    <h2 class="text-white mb-4 section-header">{{ 'timeline_section.title' | translate }}</h2>
                </div>

                <div class="col-lg-10 col-12 mx-auto">
                    <div class="timeline-container">
                        <ul class="vertical-scrollable-timeline stagger-animation" id="vertical-scrollable-timeline">
                            <div class="list-progress">
                                <div class="inner"></div>
                            </div>

                            <li>
                                <h4 class="mb-3">{{ 'timeline_section.items.explore_themes.title' | translate }}</h4>

                                <p>{{ 'timeline_section.items.explore_themes.description' | translate }}</p>

                                <div class="icon-holder">
                                    <i class="bi-search"></i>
                                </div>
                            </li>

                            <li>
                                <h4 class="mb-3">{{ 'timeline_section.items.track_progress.title' | translate }}</h4>

                                <p>{{ 'timeline_section.items.track_progress.description' | translate }}</p>

                                <div class="icon-holder">
                                    <i class="bi-bookmark"></i>
                                </div>
                            </li>

                            <li>
                                <h4 class="mb-3">{{ 'timeline_section.items.learn_strategies.title' | translate }}</h4>

                                <p>{{ 'timeline_section.items.learn_strategies.description' | translate }}</p>

                                <div class="icon-holder">
                                    <i class="bi-book"></i>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-12 text-center mt-5">
                    <p class="text-white">
                        {{ 'timeline_section.more_info' | translate }}
                        <a href="#" class="btn custom-btn custom-border-btn ms-3 pulse">{{ 'timeline_section.discover_button' | translate }}</a>
                    </p>
                </div>
            </div>
        </div>
    </section>


    <!-- Skills -->
    <section class="skills container fade-in">
        <div class="title">
            <h1 class="section-header">{{ 'skills_section.title' | translate }}</h1>
        </div>
        <div class="grid-wrapper stagger-animation">
            <div class="grid-box">
                <div class="icon-title">
                    <img src="assets/image/image1.webp" class="image" alt="">
                    <h2>{{ 'skills_section.items.evaluation.title' | translate }}</h2>
                </div>
                <p>{{ 'skills_section.items.evaluation.description' | translate }}</p>
            </div>
            <div class="grid-box">
                <div class="icon-title">
                    <img src="assets/image/image8.webp" class="image" alt="">
                    <h2>{{ 'skills_section.items.interactive_activities.title' | translate }}</h2>
                </div>
                <p>{{ 'skills_section.items.interactive_activities.description' | translate }}</p>
            </div>
            <div class="grid-box">
                <div class="icon-title">
                    <img src="assets/image/image12.webp" class="image" alt="">
                    <h2>{{ 'skills_section.items.support.title' | translate }}</h2>
                </div>
                <p>{{ 'skills_section.items.support.description' | translate }}</p>
            </div>
            <div class="grid-box">
                <div class="icon-title">
                    <img src="assets/image/image11.webp" class="image" alt="">
                    <h2>{{ 'skills_section.items.accessibility.title' | translate }}</h2>
                </div>
                <p>{{ 'skills_section.items.accessibility.description' | translate }}</p>
            </div>
        </div>
    </section>

</div>