<div class="head-title">
  <div class="left">
    <h1>Bienvenue sur le Tableau de Bord</h1>
    <ul class="breadcrumb">
      <li>
        <a href="#">Tableau de bord</a>
      </li>
      <li><i class="bx bx-chevron-right"></i></li>
      <li>
        <a class="active" href="#">Résumé des compétences </a>
      </li>
    </ul>
  </div>
  <div class="right"></div>
</div>
<div class="summary-container">
  
  <p-table [value]="competences" [paginator]="true" [rows]="10" 
           [responsive]="true" styleClass="p-datatable-striped p-datatable-gridlines">
    <ng-template pTemplate="header">
      <tr>
        <th>Sous-compétences</th>
        <th>Statuts</th>
        <th>Commentaires</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-competence>
      <ng-container *ngFor="let sousCompetence of competence.sousCompetences">
        <tr *ngIf="competence.categorie === categorie">
          <td class="align-middle">
            {{ sousCompetence.description }}
          </td>
          <td class="align-middle">
            <span [ngClass]="{
              'statut-badge statut-acquise': sousCompetence.statut === 'acquise',
              'statut-badge statut-non-acquise': sousCompetence.statut === 'non acquise',
              'statut-badge statut-non-evalue': !sousCompetence.statut
            }">
              {{ sousCompetence.statut || 'Non évalué' }}
            </span>
          </td>
          <td class="align-middle">
            <div *ngIf="sousCompetence.commentaire" class="comment-bubble">
              {{ sousCompetence.commentaire }}
            </div>
            <div *ngIf="!sousCompetence.commentaire" class="text-muted">
              -
            </div>
          </td>
        </tr>
      </ng-container>
    </ng-template>
  </p-table>
</div>