
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


/* Global Styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,html {
    font-family: 'Poppins', arial;
    overflow-x: hidden;
}

li {
    list-style: none;
}
li:hover {
    font-size: 20px;
    font-weight: bold;
    transform: scale(1.2);
}
h1 {
    font-size: 50px;
    color: var(--h1);
    font-weight: 900;
    text-align: center;
    border-bottom: 2px solid rgb(161, 109, 14);
    justify-content: center;
}
h2 {
    font-size: 50px;
    color: var(--h1);
    font-weight: 900;
    text-align: center;
    
}
h3 {
    color: var(--grey);
}
p {
    font-size: 16px;
    color: black;
}
a {
    text-decoration: none;
}


.ctn {
    width: 100px;
    padding: 8px 12px;
    background: var(--h1);
    color: whitesmoke;
    border-radius: 5px;
    text-align: center;
}
.ctn:hover {
    background: white;
    border: 1px solid var(--h1);
    color: var(--h1);
    font-weight: bold;
}

.container2{
    width: 80%;
    margin: 60px auto;
    margin-bottom: 100px;
}
.row {
    display: flex;
    justify-content: center;
}
.row .col {
    display: flex;
    justify-content: center;
}



/* Header */
/***************************************************************************/

/***************************************************************************/  

.animated-header {   
    font-size: 2rem;  
    position: relative;  
  }  
  
  
  .header__container {  
    max-width: 1200px;  
    margin: auto;  
    padding-block: 8rem 2rem;  
    padding-inline: 1rem;  
    display: grid;  
    gap: 16rem;  
    overflow-x: hidden;  
  }  
  
  .header__image {  
    position: relative;  
    isolation: isolate;  
  }  
  
  .header__image::before {  
    position: absolute;  
    content: "";  
    width: 100%;  
    max-width: 550px;  
    aspect-ratio: 1;  
    top: 50%;  
    left: 50%;  
    transform: translate(-50%, -50%);  
    background-size: cover;  
    background-position: center center;  
    background-repeat: no-repeat;  
    border-radius: 100%;  
    opacity: 0.5;  
    z-index: -1;  
  }  
  
  .header__image img {  
    max-width: 300px;  
    margin-inline: auto;  
  }  

  .header__image__card {  
    position: absolute;  
    padding: 0.75rem 1rem;  
    display: flex;  
    align-items: center;  
    gap: 5px;  
    font-size: 15px;  
    font-weight: 300;  
    color: black;  
    background-color: white;  
    white-space: nowrap;  
    border-radius: 5px;  
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);  
    z-index: 1;  
  }  
  
  .header__image__card span {  
    font-size: 17px;  
    font-weight: 400;  
    color: rgb(0, 0, 0);  
  }  
  
  .header__image__card-1 {  
    top: 25%;  
    left: 0;  
    transform: translate(-50%, -50%);  
  }  
  
  .header__image__card-2 {  
    top: 5%;  
    right: 2rem;  
    transform: translateY(-50%);  
  }  
  
  .header__image__card-3 {  
    top: 60%;  
    left: 0;  
    transform: translateY(-50%);  
  }  
  
  .header__image__card-4 {  
    top: 70%;  
    right: 0;  
    transform: translateY(-50%);  
  }  
  
  
  .header__content h1 {  
    margin-bottom: 1rem;  
    font-size: 5rem;  
    font-weight: 400;  
    font-family: "Bebas Neue", sans-serif;  
    color: black;  
    line-height: 5.5rem;  
    text-align: center;  
  }  
  
  .header__content h1 span {  
    color: rgb(123, 123, 198);  
  }  
  
  .header__content p {  
    margin-bottom: 2rem;  
    color: var(--text-light);  
    line-height: 1.75rem;  
    text-align: center;  
  }  
  
  .featured-section {
    background-image: linear-gradient(to bottom right, #84c1ff, #e4a76efb);

    /* Teinte bleue avec transparence */
      border-radius: 0 0 100px 100px;
      padding-bottom: 5px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  
    }
  
  @media (width > 768px) {
    .header__container {
      padding-block: 2rem;
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
    }
    .header__image img {
      max-width: 520px;
      margin-inline: auto;
    }
    .header__image {
      grid-area: 1/2/2/3;
    }
    .header__content :is(h1, p, .bar) {
      text-align: left;
    }
    .header__image__card {
      position: absolute;
      padding: 0.75rem 1rem;
      display: flex;
      align-items: center;
      gap: 10px;
      font-size: 1.1rem;
      font-weight: 500;
      color: black;
      background-color: white;
      white-space: nowrap;
      border-radius: 5px;
      box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
      z-index: 1;
     
    }
    .header__image__card:hover {
      background-color: #f0f0f0; /* Couleur de fond lors du hover */
      box-shadow: 5px 5px 25px rgba(117, 178, 236, 0.3); /* Ombre plus marquée */
      color: #333; 
      cursor: pointer;
  
    }
    .header__image__card span {
      font-size: 1.5rem;
      font-weight: 600;
      
    }
    
    .header__image__card-1 {
      top: 25%;
      left: 0;
      transform: translate(-50%, -50%);
    }
    
    .header__image__card-2 {
      top: 14%;
      right: 2rem;
      transform: translateY(-50%);
    }
    
    .header__image__card-3 {
      top: 60%;
      left: 0;
      transform: translate(-52%, -50%);
    }
    
    .header__image__card-4 {
      top: 70%;
      right: 0;
      transform: translateY(-50%);
    }
    
    
  
    
  }
  @media (width > 1024px) {
    .header__content form {
      flex-direction: row;
    }
    .header__content button {
      width: fit-content;
    }
  }
  @media (max-width: 568px) {
      .header__container {
        padding-block: 4rem 1rem;
        padding-inline: 0.5rem;
        gap: 1rem;
      }
    
      .header__image img {
        max-width: 180px;
      }
    
     
      .header__image__card span {
        font-size: 14px;
      }
    
      .header__content h1 {
        font-size: 3rem;
        line-height: 3.5rem;
      }
    
      .header__content p {
        font-size: 0.9rem;
        line-height: 1.5rem;
      }
    
      
    }
  
  
  
  
  /*******************************************/

/* Skills */
.title {
    text-align: center;
    margin-bottom: 60px;
}
.grid-wrapper {
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(400px, auto));
    grid-gap: 50px;
}
.icon-title{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.icon-title img {
    margin-right: 20px;
}
.icon-title h2 {
    font-size: 20px;
    color: var(--h1);
}
.grid-box .highlight {
    color: var(--dark-purple);
    font-weight: bold;
}
.grid-box {
    padding: 30px;
}
.skills .grid-box{
    box-shadow: 4px 4px 10px 10px rgba(187, 223, 251, 0.43);
    border-radius: 20px;
    border: 0.5px black solid;
}
.grid-box:hover {
    transform: translateY(-5px); /* Slight zoom effect on hover */
    cursor: pointer; /* Show a hand cursor when hovering */
  }
.image{
    width: 100px;
}








/**********/

  /*card*/
  .wrapper {
    width: 100%;
    margin: 0 auto;
    
    
}

.cols {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.cols .col {
    width: 78%;
    margin: 1rem;
    cursor: pointer;

}

.container {
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-perspective: 1000px;
    perspective: 1000px;
}

.front,
.back {
    background-size: cover;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    background-position: center;
    -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    text-align: center;
    min-height: 280px;
    box-shadow: 0 0 10px solid blue;

    height: auto;
    border-radius: 10px;
    color: #fff;
    font-size: 1.5rem;
}

.back {
    background: #fff;
   
}

.front:after {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    content: '';
    display: block;
    opacity: .6;
    background-color: #000;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 10px;
}

.container:hover .front,
.container:hover .back {
    -webkit-transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    -o-transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
    transition: transform .7s cubic-bezier(0.4, 0.2, 0.2, 1), -webkit-transform .7s cubic-bezier(0.4, 0.2, 0.2, 1);
}

.back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.back img {
    width: 140px;
    margin-top: 1rem;
    transform: perspective(3000px) rotateY(5deg);
}
.inner {
    -webkit-transform: translateY(-50%) translateZ(60px) scale(0.94);
    transform: translateY(-50%) translateZ(60px) scale(0.94);
    top: 50%;
    position: absolute;
    left: 0;
    width: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: 1px solid transparent;
    -webkit-perspective: inherit;
    perspective: inherit;
    z-index: 2;
}

.container .back {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.container .front {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.container:hover .back {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.container:hover .front {
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.front .inner p {
    font-size: 1.9rem;
    margin-bottom: 2rem;
    position: relative;
    color: #cdeaff;
}
.back .inner p {
  font-size: 1rem;
  position: relative;
  margin-bottom: 19px;
  margin-left: 20px;
  margin-right: 20px;
  font-weight: 500;
}

.front .inner p:after {
    content: '';
    width: 4rem;
    height: 2px;
    position: absolute;
    background: #C6D4DF;
    display: block;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: -.75rem;
}

.front .inner span {
    color: rgba(255, 255, 255, 0.7);
    font-family: 'Montserrat';
    font-weight: 300;
}


@media screen and (max-width: 1024px) {
  .col {
    width: 320px; 
  }
}

@media screen and (max-width: 768px) {
    
  h1 {
    font-size: 20px;
  }

  .featured-section{ 
    padding-bottom: 20px;
}
  .animated-header {
    font-size: 19px;
    margin-left: 5px;
  }

  .header__image {

    margin-left: 77px;
    margin-top: 72px;
  }

  .header__image__card {

    font-size: 10px;
    font-weight: 500;
  }

  .header__image__card-1 {
    top: 25%;
    left: 0;
    transform: translate(-50%, -50%);
  }

  .header__image__card-2 {
    top: 14%;
    right: 0rem;
    transform: translateY(-113%);
  }

  .header__image__card-3 {
    top: 60%;
    left: 0;
    transform: translate(-63%, -18%);
  }

  .header__image__card-4 {
    top: 70%;
    right: 0;
    transform: translate(-5%, 3%);
  }
  .cols {
    flex-direction: column; 
    align-items: center; 
  }

  .col {
    width: 100%;
    margin: 0 0 32px 0; 
  }

  
}

@media screen and (max-width: 512px) {
  .cols {
    flex-direction: column; /* Toujours vertical */
    align-items: center;
  }

  .col {
    width: 100%; /* Carte pleine largeur */
    margin: 0 0 32px 0;
  }
}



/* Section Styles */
.trust-section {
    padding: 2rem 2rem;
    text-align: center;
  }
  
  .trust-section h2 {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 2rem;
    text-transform: uppercase;
  }
  
  .trust-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
  }
  
  /* Individual Card Styles */
  .trust-card {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1.5rem;
    width: 300px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .trust-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
  }
  
  .trust-card img {
    width: 80px;
    height: 80px;
    margin-bottom: 1rem;
  }
  
  .trust-card h3 {
    font-size: 1.5rem;
    color: #5fa6e4;
    margin-bottom: 1rem;
  }
  
  .trust-card p {
    font-size: 1.2rem;
    color: #000000;
    font-weight: 500;
  }

    
@media only screen and (max-width : 700px){
    h1 {
        font-size: 20px;
    }
  
    /* Navbar */
    .toggle-btn i {
        display: block;
    }
    .brand img {
        position: absolute;
        top: 20px;
        left: 20px;
        width: 20px;
    }
    .navbar {
        background:  #E9F9FF;
        height: 100vh;
        flex-direction: column;
        display: none;
    }
    .mobile-nav {
        display: flex;
    }
    .nav-list ul {
        flex-direction: column;
    }
    .nav-list ul li {
        margin-top: 30px;
    }
    
    .header {
        height: 100%;
        margin-top: 120px;
    }
    .header .row {
        flex-direction: column;
    }
    .header .col-1 {
        padding: 20px;
    }
    .header .col-2  img{
        max-width: 90%;
    }
    .grid-wrapper {
     grid-template-columns:repeat(auto-fit, minmax(300px, auto));
    }
    .grid-wrapper2 {
      grid-template-columns:repeat(auto-fit, minmax(300px, auto));
    }
    .icon-title h2{
        text-align: center;
        margin-left: 30px;
    }
    h2{
        font-size: 29px;
        color: var(--h1);
        font-weight: 900;
        text-align: center;
        margin-left: -27px;
    }
    .grid-box {
        padding: 10px;
    }
   
    .skills {
        height: 100%;
    }
    .portfolio .title .ctn-title {
        flex-direction: column;
        text-align: left;
    }
    
  .contact .container {
    padding: 10px;
    padding-bottom: 20px;
  }
  .contact .container h1 {
    font-size: 20px;
  }
  .contact .quick-links{
    flex-direction: column;
  }
  .contact .quick-links img {
   width: 50px;
  }
  .contact .quick-links ul li {
    margin: 0px 5px;
  }
  .copyright p{
    font-size: 12px;
  }  
  }
  