.page-content {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #ffffff;
  font-family: 'Nunito', sans-serif;
}

.form-v6-content {
  display: flex;
  background: #ffffff;
  box-shadow: 4px 4px 10px 10px rgba(187, 223, 251, 0.43);
  border-radius: 8px;
  overflow: hidden;
  padding: 0 60px;
}

.form-left {
  width: 50%;
}

.form-left img {
  width: 100%;
  height: 75%;
  margin-top: 73px;
}

.form-detail {
  padding: 40px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.full-width {
  width: 100%;
  margin-bottom: 16px;
}

.input {
  border: 2px solid rgb(159, 157, 157);
  border-radius: 4px;
  padding: 8px;
  margin: 8px;
  color: rgb(184, 184, 182);
  height: 60px;
}


.custom-h1 {
  font-size: 64px;
  font-weight: 700;
  color: rgb(77, 165, 216);
  margin-bottom: 0;
  text-align: center;
  font-family: 'Nunito', sans-serif;
}

.custom-p {
  font-size: 1.3rem;
  color: black;
  margin-top: 0;
  margin-bottom: 75px;
  text-align: center;
}

.label {
  color: solid black;
}

.form-row.align-items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  margin: 16px;
}

/* Styling for the checkbox */
.checkbox {
  font-size: 0.9rem;
  color: black;
}

.submit-button {
  background-color: rgb(77, 165, 216);
  color: white;
  padding: 14px 27px;
  border-radius: 23px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border: none;
  cursor: pointer;
  font-size: 18px;
}

.submit-button:hover {
  background-color: rgb(98, 170, 211);
  color: #ffffff;
}


.create-account-link {
  color: rgb(77, 165, 216);
  text-decoration: none;
  font-weight: 500;
}

.text-centre {
  text-align: center;
}

.create-account-link:hover {
  text-decoration: underline;
  color: rgb(48, 112, 169);
}

.social-icons {
  display: flex;
  gap: 15px;
  justify-content: center;
}

/*go back button*/
.cssbuttons-io-button {
  background: rgb(77, 165, 216);
  color: white;
  font-family: inherit;
  padding: 0.35em;
  margin-top: 20px;
  padding-left: 1.2em;
  font-size: 17px;
  font-weight: 500;
  border-radius: 0.9em;
  border: none;
  letter-spacing: 0.05em;
  display: flex;
  align-items: center;
  box-shadow: 0 0 1.6em #6d9bdb;
  overflow: hidden;
  position: relative;
  height: 3em;
  padding-right: 3.5em;
  cursor: pointer;
  transition: all 0.3s;
}

.cssbuttons-io-button .icon {
  background: white;
  margin-left: 1em;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.2em;
  width: 2.2em;
  border-radius: 0.7em;
  box-shadow: 0.1em 0.1em 0.6em 0.2em #84c1ff;
  right: 0.3em;
  transition: all 0.3s;
}

.cssbuttons-io-button:hover .icon {
  width: calc(100% - 0.6em);
}

.cssbuttons-io-button .icon svg {
  width: 1.1em;
  transition: transform 0.3s;
  color: #84c1ff;
}

.cssbuttons-io-button:hover .icon svg {
  transform: translateX(0.1em);
}

.cssbuttons-io-button:active .icon {
  transform: scale(0.95);
}

.cssbuttons-io-button:active {
  box-shadow: 0.1em 0.1em 0.6em 0.2em #84c1ff;
  transform: scale(0.98);
}



/* Responsive Styles for iPhone and iPad */
@media (max-width: 1024px) {
  .form-v6-content {
    flex-direction: column;
    padding: 20px;
  }

  .form-left,
  .form-detail {
    width: 100%;
  }

  .form-left img {
    height: auto;
    margin-top: 20px;
  }

  .custom-h1 {
    font-size: 48px;
  }

  .custom-p {
    font-size: 1.1rem;
    margin-bottom: 50px;
  }

  .input {
    height: 50px;
    margin: 5px 0;
  }

  .submit-button {
    padding: 12px 20px;
    font-size: 16px;
  }

  .form-row.align-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin: 16px;
  }

  /* Styling for the checkbox */
  .checkbox {
    font-size: 0.9rem;
    color: black;
  }
}

/* Specific Styling for iPhones (max-width: 768px) */
@media (max-width: 768px) {
  .custom-h1 {
    font-size: 36px;
  }

  .custom-p {
    font-size: 1rem;
    margin-bottom: 40px;
  }

  .form-detail {
    padding: 0;
  }

  .input {
    height: 45px;
    padding: 3px;
  }

  .submit-button {
    padding: 9px 10px;
    font-size: 14px;
  }

  .cssbuttons-io-button a {
    display: none;
  }

  .cssbuttons-io-button {
    padding: 25px;
    background: #ffffff;
  }

}

/* Additional Styles for Ultra-Small Screens (max-width: 480px) */
@media (max-width: 480px) {
  .custom-h1 {
    font-size: 28px;
  }

  .custom-p {
    font-size: 0.9rem;
    margin-bottom: 30px;
  }

  .form-row.align-items {
    gap: 3px;
  }

  .submit-button {
    font-size: 12px;
    padding: 8px 10px;
  }

  .cssbuttons-io-button a {
    display: none;
  }

  .cssbuttons-io-button {
    padding: 25px;
    background: #ffffff;
  }
}