<nav>
  <div class="nav__header">
    <div class="nav__logo">
      <a href="#">Psycho<span>Éducatif</span></a>
    </div>
    <div class="nav__menu__btn" id="menu-btn">
      <span><i class="ri-menu-line"></i></span>
    </div>
  </div>

  <ul class="nav__links"  id="nav-links">
    <li><a routerLink="/home">Évaluation</a></li>
    <li><a href="/object">Objectifs</a></li>
    <li><a href="/strategy">Stratégies</a></li>
    <li class="nav__btns">
      <button class="btn sign__up" routerLink="/auth/signup">Sign Up</button>
      <button class="btn sign__in" routerLink="/auth/signin">Sign In</button>
    </li>
  </ul>
  

</nav>