<div class="layout-container body">
  <!-- Cloud background animation -->
  <div class="clouds-container">
    <div class="cloud cloud-1"></div>
    <div class="cloud cloud-2"></div>
    <div class="cloud cloud-3"></div>
    <div class="cloud cloud-4"></div>
    <div class="cloud cloud-5"></div>
    <div class="cloud cloud-6"></div>
  </div>
  <!-- Main Content Area -->
  <div class="content-area">
    <app-navbar-dashboard> </app-navbar-dashboard>

    <main class="main-content">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>