<nav>
    <div class="nav__header">
      <div class="nav__logo">
        <a href="#">Psycho<span>Éducatif</span></a>
      </div>
      <div class="nav__menu__btn" id="menu-btn">
        <span><i class="ri-menu-line"></i></span>
      </div>
    </div>
    <ul class="nav__links" id="nav-links">
      <li><a href="#">Évaluation</a></li>
      <li><a href="#">Objectifs</a></li>
      <li><a href="#">Stratégies</a></li>
    </ul>
    <div class="nav__btns">
      <button class="btn sign__up">Sign Up</button>
      <button class="btn sign__in">Sign In</button>
    </div>
  </nav>