<div class="peu-container">
  <div class="back-button" (click)="goBack()">
    <i class="pi pi-arrow-left"></i>
  </div>
  <div class="peu-header">
    <div class="header-left">
      <h1>{{ 'peu.title' | translate }}</h1>
    </div>
    <div class="header-right">
      <button pButton 
              type="button" 
              [label]="'peu.export_excel' | translate" 
              icon="pi pi-file-excel" 
              (click)="exportExcel()"
              [disabled]="items.length === 0 || isLoading"
              class="p-button-success export-button">
      </button>
      <button pButton 
              type="button" 
              [label]="'peu.export_pdf' | translate" 
              icon="pi pi-file-pdf" 
              (click)="exportPdf()"
              [disabled]="items.length === 0 || isLoading"
              class="p-button-warning export-button">
      </button>
    </div>
  </div>

  <div class="peu-content">
    <div *ngIf="isLoading" class="loading-state">
      <i class="pi pi-spin pi-spinner loading-icon"></i>
      <p>{{ 'peu.loading_items' | translate }}</p>
    </div>

    <div *ngIf="error" class="error-state">
      <i class="pi pi-exclamation-triangle error-icon"></i>
      <p>{{ error }}</p>
    </div>

    <div *ngIf="!isLoading && !error" class="content-wrapper">
      <app-profile-item-list
        [items]="items"
        [selectedItems]="selectedItemIds"
        [currentLanguage]="currentLanguage"
        (selectionChange)="onSelectionChange($event)">
      </app-profile-item-list>
    </div>
  </div>
</div>

