<div class="container-custom">
  <!-- Main Content -->
  <div class="row">
    <div class="col-md-12">
      <h3 class="box-title">Suivi des Enfants</h3>



      <!-- Communication -->
      <h4>Communication</h4>
<br>
      <div class="shell">
        <div class="container">
          <div class="row">
            <div class="col-md-4" *ngFor="let competence of competences" (click)="naviguerVersQuiz(competence.categorie)">
              <div class="card competence-card"  style="zoom: 90%;">
                <div class="card-img-top">
                  <img
                    src="assets/img/{{ competence.categorie | lowercase | replaceSpaces }}.gif"
                    alt="{{ competence.categorie }}"
                    class="img-fluid"
                    onerror="this.src='assets/img/autisme.jpg'" 
                  />
                </div>
                <div class="card-body">
                  <h5 class="card-title">{{ competence.categorie }}</h5>
                  <p class="card-text">
                    Évaluez les compétences de {{ competence.categorie | lowercase }} pour mieux comprendre les progrès.
                  </p>
                </div>
                <div class="card-footer">
                  <span class="status-info">Cliquez pour commencer</span>
                </div>
              </div>
            </div>
          </div>

          </div>

         

        </div>
      </div>
    </div>