<div class="card p-4 shadow-lg rounded-2xl bg-white">
  <div class="row justify-content-between align-items-center mb-4">
    <h2 class="text-xl font-semibold col-auto">Liste des profiles</h2>
    <p-toolbar styleClass="mb-4">
      <ng-template pTemplate="left">
        <div class="d-flex align-items-center">
          <button pButton [icon]="showFilters ? 'pi pi-eye-slash' : 'pi pi-filter'" (click)="toggleFilters()">
          </button>
        </div>
      </ng-template>
      <ng-template pTemplate="right">
        <div>
          <button pButton icon="pi pi-plus" label="Add New" class="p-button-success" (click)="showAddUserDialog()">
          </button>
        </div>
      </ng-template>
    </p-toolbar>
  </div>
  <br>

  <p-table #dt2 [value]="users" dataKey="id" [rows]="10" [rowsPerPageOptions]="[10, 25, 50]"
    [loading]="loading" [paginator]="true" [globalFilterFields]="['name', 'age', 'birthDate', 'diagnostic']"
    [tableStyle]="{ 'min-width': '75rem' }">


    <ng-template pTemplate="header">
      <tr>
        <th>Photo</th>
        <th>Nom / Prénom</th>
        <th>Âge</th>
        <th>Date de naissance</th>
        <th>Diagnostic / trouble(s)</th>
        <th>Progress</th>
        <th>Actions</th>
      </tr>
      <tr *ngIf="showFilters" style="zoom: 80%;">
        <th></th>
        <th>
          <p-columnFilter type="text" field="name" placeholder="Nom / Prénom"></p-columnFilter>
        </th>
        <th>
          <p-columnFilter type="numeric" field="age" placeholder="Âge"></p-columnFilter>
        </th>
        <th>
          <p-columnFilter type="date" field="birthDate" placeholder="Date de naissance"></p-columnFilter>
        </th>
        <th>
          <p-columnFilter type="text" field="diagnostic" placeholder="Diagnostic"></p-columnFilter>
        </th>
        <th>
          <p-columnFilter type="numeric" field="progress" placeholder="Progress %"></p-columnFilter>
        </th>
        <th></th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-user>
      <tr>
        <td>
          <img [src]="user.imageUrl" alt="User photo" width="50" height="50" style="border-radius: 50%" />
        </td>
        <td>{{ user.name }}</td>
        <td>{{ user.age }}</td>
        <td>{{ user.birthDate | date: 'dd/MM/yyyy' }}</td>
        <td>{{ user.diagnostic }}</td>
        <td>
          <p-progressBar [value]="user.progress" [showValue]="true" styleClass="w-full"></p-progressBar>
        </td>
        <td>
          <button pButton icon="pi pi-pencil" class="p-button-rounded p-button-text p-button-info"
            (click)="onEdit(user)"></button>
          <button pButton icon="pi pi-trash" class="p-button-rounded p-button-text p-button-danger"
            (click)="onDelete(user)"></button>
          <button pButton icon="pi pi-user-plus" class="p-button-rounded p-button-text p-button-success"
            (click)="onShare(user)"></button>
        </td>

      </tr>
    </ng-template>


    <ng-template #emptymessage>
      <tr>
        <td colspan="7">Aucun profile trouvé.</td>
      </tr>
    </ng-template>

  </p-table>
</div>


<p-dialog header="Ajouter une profile" [(visible)]="displayAddUserDialog" [modal]="true" [style]="{ width: '30vw' ,zoom:'90%'}" [dismissableMask]="true">
  <div class="p-fluid">
    <div class="p-field">
      <label for="name">Nom / Prénom</label>
      <input id="name" pInputText [(ngModel)]="newUser.name" />
    </div>
    <div class="p-field">
      <label for="birthDate">Date de naissance</label>
      <p-calendar id="birthDate" [(ngModel)]="newUser.birthDate" dateFormat="dd/mm/yy"></p-calendar>
    </div>
    <div class="p-field">
      <label for="diagnostic">Diagnostic / trouble(s)</label>
      <input id="diagnostic" pInputText [(ngModel)]="newUser.diagnostic" />
    </div>
    <div class="p-field">
      <label for="imageUrl">Image URL</label>
      <input id="imageUrl" pInputText [(ngModel)]="newUser.imageUrl" />
    </div>
  </div>
  <!-- Dialog footer -->
  <ng-template pTemplate="footer">
    <button pButton label="Annuler" icon="pi pi-times" class="p-button-text"
      (click)="displayAddUserDialog = false"></button>
    <button pButton label="Ajouter" icon="pi pi-check" class="p-button-success" (click)="addUser()"></button>
  </ng-template>
</p-dialog>


<!-- Dialog Popup -->
<p-dialog header="Share User Access" [(visible)]="showPopup" [modal]="true" [style]="{width: '400px'}">
  <div class="p-fluid p-formgrid p-grid">
    <div class="p-field p-col-8">
      <input pInputText placeholder="Filter user..." [(ngModel)]="userFilter" />
    </div>
    <div class="p-field p-col-4">
      <p-dropdown [options]="accessOptions" [(ngModel)]="selectedAccess" placeholder="Access" optionLabel="label"></p-dropdown>
    </div>
  </div>
  <p-footer>
    <button pButton label="Share" icon="pi pi-check" (click)="onShare(userFilter)" class="p-button-success"></button>
    <button pButton label="Cancel" icon="pi pi-times" (click)="showPopup = false" class="p-button-secondary"></button>
  </p-footer>
</p-dialog>