<div class="container">
    <main>
        <div class="head-title">
            <div class="left">
                <h1>{{ 'child_profile.title' | translate }}</h1>
                <ul class="breadcrumb">
                    <li>
                        <a href="#">{{ 'child_profile.breadcrumb.home' | translate }}</a>
                    </li>
                    <li><i class="bx bx-chevron-right"></i></li>
                    <li>
                        <a class="active" href="#">{{ 'child_profile.breadcrumb.choose_profile' | translate }}</a>
                    </li>
                </ul>
            </div>
            <div class="right">
                <!-- You can add buttons or user info here -->
            </div>
        </div>

        <app-pick_profile></app-pick_profile>
    </main>
</div>
