<div class="card">
  <div class="flex justify-end mb-2">
    <button 
      pButton 
      [icon]="showFilters ? 'pi pi-eye-slash' : 'pi pi-filter'" 
      (click)="toggleFilters()" >
      <!-- label="{{ showFilters ? 'Masquer les filtres' : 'Afficher les filtres' }}" -->
    </button>
  </div>
  <br>

  <p-table [style]="{ zoom: '0.7' }"
    #dt2
    [value]="users"
    dataKey="id"
    [rows]="10"
    [rowsPerPageOptions]="[10, 25, 50]"
    [loading]="loading"
    [paginator]="true"
    [globalFilterFields]="['username', 'address', 'phone', 'email']"
    [tableStyle]="{ 'min-width': '75rem' }"
  >

    <ng-template pTemplate="header">
      <tr>
        <th>Image</th>
        <th>Nom / Prénom</th>
        <th>Adresse</th>
        <th>Téléphone</th>
        <th>Email</th>
        <th>Date d’inscription</th>
        <th>Nombre de profils</th>
        <th>Actions</th>
      </tr>
      <tr *ngIf="showFilters" style="zoom: 80%;">
        <th></th>
        <th>
          <p-columnFilter type="text" field="username" placeholder="Recherche nom/prénom"></p-columnFilter>
        </th>
        <th>
          <p-columnFilter type="text" field="address" placeholder="Recherche adresse"></p-columnFilter>
        </th>
        <th>
          <p-columnFilter type="text" field="phone" placeholder="Recherche téléphone"></p-columnFilter>
        </th>
        <th>
          <p-columnFilter type="text" field="email" placeholder="Recherche email"></p-columnFilter>
        </th>
        <th>
          <p-columnFilter type="date" field="registerDate" placeholder="Recherche date"></p-columnFilter>
        </th>
        <th>
          <p-columnFilter type="numeric" field="profilesNumber" placeholder="Recherche profils"></p-columnFilter>
        </th>
        <th></th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-user>
      <tr>
        <td>
          <img [src]="user.imageUrl" alt="Image utilisateur" width="50" height="50" style="border-radius: 50%;" />
        </td>
        <td>{{ user.username }}</td>
        <td>{{ user.address }}</td>
        <td>{{ user.phone }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.registerDate | date: 'dd/MM/yyyy' }}</td>
        <td>{{ user.profilesNumber }}</td>
        <td>
          <button pButton icon="pi pi-pencil" class="p-button-rounded p-button-success p-button-sm" (click)="editUser(user)" title="Modifier"></button>
          <button pButton icon="pi pi-trash" class="p-button-rounded p-button-danger p-button-sm ml-2" (click)="deleteUser(user.id)" title="Supprimer"></button>
        </td>
      </tr>
    </ng-template>

    <ng-template #emptymessage>
      <tr>
        <td colspan="8">Aucun utilisateur trouvé.</td>
      </tr>
    </ng-template>
  </p-table>
</div>
