
                    <div class="card">
                        <p-table
                          #dt2
                          [value]="users"
                          dataKey="id"
                          [rows]="10"
                          [rowsPerPageOptions]="[10, 25, 50]"
                          [loading]="loading"
                          [paginator]="true"
                          [globalFilterFields]="['username', 'address', 'phone', 'email']"
                          [tableStyle]="{ 'min-width': '75rem' }"
                        >
                          <!-- <ng-template #caption>
                            <div class="flex">
                              <p-iconfield iconPosition="left" class="ml-auto">
                                <p-inputicon>
                                  <i class="pi pi-search"></i>
                                </p-inputicon>
                                <input
                                  pInputText
                                  type="text"
                                  (input)="dt2.filterGlobal($event.target.value, 'contains')"
                                  placeholder="Search keyword"
                                />
                              </p-iconfield>
                            </div>
                          </ng-template> -->
                      
                          <ng-template  pTemplate="header">
                            <tr>
                              <th>Username</th>
                              <th>Address</th>
                              <th>Phone</th>
                              <th>Email</th>
                              <th>Register Date</th>
                              <th>Profiles Number</th>
                            </tr>
                            <tr>
                              <th>
                                <p-columnFilter type="text" field="username" placeholder="Search username"></p-columnFilter>
                              </th>
                              <th>
                                <p-columnFilter type="text" field="address" placeholder="Search address"></p-columnFilter>
                              </th>
                              <th>
                                <p-columnFilter type="text" field="phone" placeholder="Search phone"></p-columnFilter>
                              </th>
                              <th>
                                <p-columnFilter type="text" field="email" placeholder="Search email"></p-columnFilter>
                              </th>
                              <th>
                                <p-columnFilter type="date" field="registerDate" placeholder="Search date"></p-columnFilter>
                              </th>
                              <th>
                                <p-columnFilter type="numeric" field="profilesNumber" placeholder="Search profiles"></p-columnFilter>
                              </th>
                            </tr>
                          </ng-template>
                      
                          <ng-template  pTemplate="body" let-user>
                            <tr>
                              <td>{{ user.username }}</td>
                              <td>{{ user.address }}</td>
                              <td>{{ user.phone }}</td>
                              <td>{{ user.email }}</td>
                              <td>{{ user.registerDate | date: 'dd/MM/yyyy' }}</td>
                              <td>{{ user.profilesNumber }}</td>
                            </tr>
                          </ng-template>
                      
                          <ng-template #emptymessage>
                            <tr>
                              <td colspan="6">No users found.</td>
                            </tr>
                          </ng-template>
                        </p-table>
                      </div>
                      






