
<div class="container">
        <!-- ==================Start OF MAIN================== -->
        <main>
          <h1>Dashboard</h1>
          <div class="card">
              <div class="container">
                  <div class="image-container">
                      <img src="assets/image_admin/custom-14.svg" alt="" class="hover-effect">
                  </div>
                  <div class="text-container">
                      <h2>Hello Johen, Welcome Back!</h2>
                      <p class="text-dark mb-0 fs-16">
                          Your course "Overcoming the fear of public speaking" was completed by 11 new users this week!
                      </p>
                  </div>
              </div>
          </div>

          <div class="insights">

             
              <!-- ================Cards================ -->

              <!-- ------------------Start Sales------------------ -->
              <div class="sales">
                  <span class="material-symbols-sharp">analytics</span>
                  <div class="middle">
                      <div class="left">
                          <h3>Total Sales</h3>
                          <h1>$25.024</h1>
                      </div>
                      <div class="progress">
                          <svg>
                              <circle cx='38' cy='38' r='36'> </circle>
                          </svg>
                          <!--percentage inside the circle  -->
                          <div class="number">
                              <p>81%</p>
                          </div>
                      </div>
                  </div>
                  <small class="text-muted">Last 24 Hours</small>
              </div>
              <!-- ------------------End Sales------------------ -->


              <!-- ------------------Start Expenses------------------ -->
              <div class="expenses">
                  <span class="material-symbols-sharp">monitoring</span>
                  <div class="middle">
                      <div class="left">
                          <h3>Total Expenses</h3>
                          <h1>$16.000</h1>
                      </div>
                      <div class="progress">
                          <svg>
                              <circle cx='38' cy='38' r='36'> </circle>
                          </svg>
                          <!--percentage inside the circle  -->
                          <div class="number">
                              <p>73%</p>
                          </div>
                      </div>
                  </div>
                  <small class="text-muted">Last 24 Hours</small>
              </div>
              <!-- ------------------End Expenses------------------ -->



              <!-- ------------------Start Income------------------ -->
              <div class="income">
                  <span class="material-symbols-sharp">stacked_line_chart</span>
                  <div class="middle">
                      <div class="left">
                          <h3>Total Income</h3>
                          <h1>$100.024</h1>
                      </div>
                      <div class="progress">
                          <svg>
                              <circle cx='38' cy='38' r='36'> </circle>
                          </svg>
                          <!--percentage inside the circle  -->
                          <div class="number">
                              <p>44%</p>
                          </div>
                      </div>
                  </div>
                  <small class="text-muted">Last 24 Hours</small>
              </div>
              <!-- ------------------End Income------------------ -->

          </div>

          <div class="recent-orders">
              <h2>Recent Orders</h2>
              <table>
                  <thead>
                      <tr>
                          <th>Product Name</th>
                          <th>Product Number</th>
                          <th>Payment</th>
                          <th>Status</th>
                          <th></th>

                      </tr>
                  </thead>

                  <tbody>
                      <!-- <tr>
                          <td>Coca cola</td>
                          <td>846579</td>
                          <td>Due</td>
                          <td class="warning">Pending</td>
                          <td class="primary">Details</td>
                      </tr>
                      <tr>
                          <td>Coca cola</td>
                          <td>846579</td>
                          <td>Due</td>
                          <td class="warning">Pending</td>
                          <td class="primary">Details</td>
                      </tr>
                      <tr>
                          <td>Coca cola</td>
                          <td>846579</td>
                          <td>Due</td>
                          <td class="warning">Pending</td>
                          <td class="primary">Details</td>
                      </tr>
                      <tr>
                          <td>Coca cola</td>
                          <td>846579</td>
                          <td>Due</td>
                          <td class="warning">Pending</td>
                          <td class="primary">Details</td>
                      </tr> -->

                  </tbody>

              </table>
              <a href="#">Show all</a>

          </div>

      </main>
      <!-- ==================END OF MAIN================== -->

      <!-- ==================START OF RightSide================== -->
      <div class="right">
          
         

          <div class="sales-analytics">
             
              <div class="item  add-product">
                  <div>
                      <span class="material-symbols-sharp">person_add</span> <!-- Icône pour ajouter un profil -->
                      <h3>Ajouter Profil</h3> <!-- Texte mis à jour -->
                  </div>
              </div>
              <h2>Sales Analytics</h2>

              <div class="item online">
                  <div class="icon">
                      <span class="material-symbols-sharp">shopping_cart</span>
                  </div>
                  <div class="right">
                      <div class="info">
                          <h3>Online Orders</h3>
                          <small class="text-muted">Last 24 Hours</small>
                      </div>
                      <h5 class="success">+39%</h5>
                      <h3>3849</h3>
                  </div>
              </div>

              <div class="item offline">
                  <div class="icon">
                      <span class="material-symbols-sharp">local_mall</span>
                  </div>
                  <div class="right">
                      <div class="info">
                          <h3>Offline Orders</h3>
                          <small class="text-muted">Last 24 Hours</small>
                      </div>
                      <h5 class="danger">-17%</h5>
                      <h3>1110</h3>
                  </div>
              </div>

              <div class="item customers">
                  <div class="icon">
                      <span class="material-symbols-sharp">person</span>
                  </div>
                  <div class="right">
                      <div class="info">
                          <h3>New Customers</h3>
                          <small class="text-muted">Last 24 Hours</small>
                      </div>
                      <h5 class="success">+25%</h5>
                      <h3>849</h3>
                  </div>
              </div>

             

          </div>
        <!-- Start recent updates -->
        <div class="recent-updates">
          <h2>Recent recent-updates</h2>

          <div class="updates">
              <div class="update">
                  <div class="profile-photo">
                      <img src="./images/profile-2.jpg" alt="">
                  </div>
                  <div class="message">
                      <p><b>El Bicho</b> received his order of
                          GDev tech solutions</p>
                      <small class="text-muted">2 Minutes Ago</small>
                  </div>
              </div>

              <div class="update">
                  <div class="profile-photo">
                      <img src="./images/profile-3.jpg" alt="">
                  </div>
                  <div class="message">
                      <p><b>El Bicho</b> received his order of
                          GDev tech solutions</p>
                      <small class="text-muted">2 Minutes Ago</small>
                  </div>
              </div>

              <div class="update">
                  <div class="profile-photo">
                      <img src="./images/profile-4.jpg" alt="">
                  </div>
                  <div class="message">
                      <p><b>El Bicho</b> received his order of
                          GDev tech solutions</p>
                      <small class="text-muted">2 Minutes Ago</small>
                  </div>
              </div>
          </div>
      </div>
      <!-- END recent updates -->
      </div>
      
      <!-- ==================END OF RightSide================== -->
 </div>