
<div class="container">
        <!-- ==================Start OF MAIN================== -->
        <main>
            <h1>Tableau de Bord</h1>
            <div class="card_1">
                <div class="container">
                    <div class="image-container">
                        <img src="assets/image_admin/custom-14.svg" alt="" class="hover-effect">
                    </div>
                    <div class="text-container">
                        <h2>Bonjour Johen, Bienvenue !</h2>
                        <p class="text-dark mb-0 fs-16">
                            Votre programme "Accompagner les enfants autistes dans leur développement" a été complété par 11 nouveaux utilisateurs cette semaine !
                        </p>
                    </div>
                </div>
            </div>
          

          <div class="insights">

             
              <!-- ================Cards================ -->

              <!-- ------------------Start Sales------------------ -->
              <div class="sales">
                  <span class="material-symbols-sharp">analytics</span>
                  <div class="middle">
                      <div class="left">
                        <h3>Total des Évaluations</h3>
                        <h1>250</h1>
                      </div>
                      <!-- <div class="progress">
                          <svg>
                              <circle cx='38' cy='38' r='36'> </circle>
                          </svg>
                       percentage inside the circle 
                          <div class="number">
                              <p>81%</p>
                          </div>
                      </div> -->
                  </div>
                  <small class="text-muted">Dernières 24 Heures</small>
              </div>
              <!-- ------------------End Sales------------------ -->


              <!-- ------------------Start Expenses------------------ -->
              <div class="expenses">
                  <span class="material-symbols-sharp">monitoring</span>
                  <div class="middle">
                      <div class="left">
                        <h3>Total des Accompagnements</h3>
                        <h1>160</h1>
                      </div>
                      <!-- <div class="progress">
                          <svg>
                              <circle cx='38' cy='38' r='36'> </circle>
                          </svg>
                          <div class="number">
                              <p>73%</p>
                          </div>
                      </div> -->
                  </div>
                  <small class="text-muted">Dernières 24 Heures</small>
              </div>
              <!-- ------------------End Expenses------------------ -->



              <!-- ------------------Start Income------------------ -->
              <div class="income">
                  <span class="material-symbols-sharp">stacked_line_chart</span>
                  <div class="middle">
                      <div class="left">
                        <h3>Total des Suivis</h3>
                        <h1>100</h1>
                      </div>
                      <!-- <div class="progress">
                          <svg>
                              <circle cx='38' cy='38' r='36'> </circle>
                          </svg>
                          <div class="number">
                              <p>44%</p>
                          </div>
                      </div> -->
                  </div>
                  <small class="text-muted">Dernières 24 Heures</small>
              </div>
              <!-- ------------------End Income------------------ -->

          </div>

          <div class="recent-orders">
            <h2>Dernières Évaluations</h2>
            <table>
                <thead>
                    <tr>
                        <th>Nom de l'Enfant</th>
                        <th>Numéro de Dossier</th>
                        <th>Statut</th>
                        <th>État</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                     <tr>
                        <td>Adam Dupont</td>
                        <td>846579</td>
                        <td>En cours</td>
                        <td class="warning">À compléter</td>
                        <td class="primary">Détails</td>
                    </tr>
                    <tr>
                        <td>Emma Bernard</td>
                        <td>745612</td>
                        <td>Terminé</td>
                        <td class="success">Validé</td>
                        <td class="primary">Détails</td>
                    </tr>
                    <tr>
                        <td>Lucas Moreau</td>
                        <td>965478</td>
                        <td>En attente</td>
                        <td class="warning">À compléter</td>
                        <td class="primary">Détails</td>
                    </tr>
                    <tr>
                        <td>Léa Martin</td>
                        <td>123654</td>
                        <td>En cours</td>
                        <td class="warning">À compléter</td>
                        <td class="primary">Détails</td>
                    </tr> 
                </tbody>
            </table>
            <a href="#">Voir tout</a>

          </div>

      </main>
      <!-- ==================END OF MAIN================== -->

      <!-- ==================START OF RightSide================== -->
      <div class="right">
          
         

          <div class="sales-analytics">
             
              <div class="item  add-product" (click)="openDialog()">
                  <div>
                      <span class="material-symbols-sharp">person_add</span> <!-- Icône pour ajouter un profil -->
                      <h3>Ajouter Profil</h3> <!-- Texte mis à jour -->
                  </div>
              </div>
              <h2>Évaluation de l'Autisme</h2>


              <div class="item online">
                  <div class="icon">
                      <span class="material-symbols-sharp">psychology</span>
                  </div>
                  <div class="right">
                      <div class="info">
                        <h3>Évaluations Récentes</h3>
                          <small class="text-muted">Dernières 24 Heures</small>
                      </div>
                      <h5 class="success">+39</h5>
               
                  </div>
              </div>

              <div class="item offline">
                  <div class="icon">
                      <span class="material-symbols-sharp">pending_actions</span>
                  </div>
                  <div class="right">
                      <div class="info">
                          <h3>Évaluations en Attente</h3>
                          <small class="text-muted">Dernières 24 Heures</small>
                      </div>
                      <h5 class="danger">-17</h5>
                   
                  </div>
              </div>

              <div class="item customers">
                  <div class="icon">
                      <span class="material-symbols-sharp">group</span>
                  </div>
                  <div class="right">
                      <div class="info">
                          <h3>Nouveaux Profils</h3>
                          <small class="text-muted">Dernières 24 Heures</small>
                      </div>
                      <h5 class="success">+25</h5>
                      <!-- <h3>20</h3> -->
                  </div>
              </div>

             

          </div>
        <!-- Start recent updates -->
        <div class="recent-updates"> 
            <h2>Dernières Mises à Jour</h2>

          <div class="updates">
            <div class="update">
                <div class="profile-photo">
                    <img src="./images/profile-2.jpg" alt="">
                </div>
                <div class="message">
                    <p><b>Dr. Dupont</b> a complété l'évaluation de <b>Lucas</b></p>
                    <small class="text-muted">Il y a 2 Minutes</small>
                </div>
            </div>

            <div class="update">
                <div class="profile-photo">
                    <img src="./images/profile-3.jpg" alt="">
                </div>
                <div class="message">
                    <p><b>Dr. Martin</b> a ajouté un nouveau profil pour <b>Emma</b></p>
                    <small class="text-muted">Il y a 10 Minutes</small>
                </div>
            </div>

            <div class="update">
                <div class="profile-photo">
                    <img src="./images/profile-4.jpg" alt="">
                </div>
                <div class="message">
                    <p><b>Dr. Lefèvre</b> a finalisé un rapport pour <b>Mathis</b></p>
                    <small class="text-muted">Il y a 30 Minutes</small>
                </div>
            </div>
          </div>
      </div>
      <!-- END recent updates -->
      </div>
      
      <!-- ==================END OF RightSide================== -->
 </div>