<div class="page-content">
 
  <div class="form-v6-content">
    <div class="social-sidebar">
    <button class="cssbuttons-io-button" routerLink="/">
      <a> Retour </a>
       <div class="icon">
         <svg
           height="24"
           width="24"
           viewBox="0 0 24 24"
           xmlns="http://www.w3.org/2000/svg"
         >
           <path d="M0 0h24v24H0z" fill="none"></path>
           <path
             d="M15 19l-7-7 7-7M5 12h14"
             fill="currentColor"
           ></path>
         </svg>
       </div>
     </button>
   
      <ul class="social-icons">
        <li><a href="#" target="_blank"><i class="fab fa-facebook" style="font-size: 40px; color: #4267B2;"></i></a></li>
        <li><a href="#" target="_blank"><i class="fab fa-instagram" style="font-size: 40px; color: #C13584;"></i></a></li>
        <li><a href="#" target="_blank"><i class="fab fa-whatsapp" style="font-size: 40px; color: #25D366;"></i></a></li>
        <li><a href="#" target="_blank"><i class="fab fa-linkedin" style="font-size: 40px; color: #0A66C2;"></i></a></li>
      </ul>
    </div>
    
    <div class="form-left">
    
      <img src="assets/img/Innovation.gif" alt="form">
    </div>
    <form class="form-detail" #signupForm="ngForm">
      <h1 class="custom-h1">Créer un compte</h1>
      <p class="custom-p">Remplissez les champs pour créer un nouveau compte</p>

      <!-- Champ Nom et Prénom -->
      <div class="form-row">
        <mat-label class="label">Nom et Prénom</mat-label>
        <mat-form-field appearance="fill" class="full-width input">
          <input matInput placeholder="Entrez votre nom et prénom" required>
          <mat-icon matSuffix>person</mat-icon>
        </mat-form-field>
      </div>

      <!-- Champ Adresse Email -->
      <div class="form-row">
        <mat-label class="label">Adresse Email</mat-label>
        <mat-form-field appearance="fill" class="full-width input">
          <input matInput type="email" placeholder="Entrez votre adresse email" required>
          <mat-icon matSuffix>email</mat-icon>
        </mat-form-field>
      </div>

      <!-- Champ Mot de Passe -->
      <div class="form-row">
        <mat-label class="label">Mot de Passe</mat-label>
        <mat-form-field appearance="fill" class="full-width input">
          <input matInput [type]="hidePassword ? 'password' : 'text'" placeholder="Entrez un mot de passe sécurisé"
            name="password" id="password" required>
          <button mat-icon-button matSuffix type="button" aria-label="Afficher ou masquer le mot de passe"
            (click)="hidePassword = !hidePassword">
            <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <div class="form-row">
        <mat-label class="label">Confirmer le Mot de Passe</mat-label>
        <mat-form-field appearance="fill" class="full-width input">
          <input matInput 
           placeholder="Confirmez votre mot de passe" 
          [type]="hideConfirmPassword ? 'password' : 'text'"
            name="confirmPassword" id="confirmPassword" required>
          <button mat-icon-button matSuffix type="button" aria-label="Afficher ou masquer le mot de passe"
            (click)="hideConfirmPassword = !hideConfirmPassword">
            <mat-icon>{{ hideConfirmPassword ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
        </mat-form-field>
      </div>


      <!-- Message d'erreur -->
      <div *ngIf="errorMessage" class="error-message">
        {{ errorMessage }}
      </div>

      <!-- Bouton de soumission -->
      <div class="form-row align-items">
        <mat-checkbox name="terms" class="checkbox" required>
          J'accepte les <a href="#" target="_blank">termes et conditions</a>
        </mat-checkbox>
        <button type="submit" class="submit-button" [disabled]="!signupForm.form.valid">
          S'inscrire
        </button>
      </div>

      <div class="text-centre">
        <p>Vous avez déjà un compte? <a routerLink="/auth/signin" class="login-link">Connectez-vous</a></p>
      </div>
    </form>
  </div>
</div>