<link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp" rel="stylesheet">

<div class="head-title">
  <div class="left">
    <h1><span class="emoji">📝</span> Liste des Compétences</h1>
    <ul class="breadcrumb">
      <li><a href="#">Tableau de bord</a></li>
      <li><i class="bx bx-chevron-right"></i></li>
      <li><a class="active" href="#"><span class="emoji">📝</span> Liste des Compétences</a></li>
    </ul>
  </div>
</div>

<p-toast></p-toast>

<div class="card p-3 shadow-lg rounded-2xl bg-white">
  <div class="row justify-content-between align-items-center">
    <p-toolbar>
      <ng-template pTemplate="left">
        <div class="d-flex align-items-center">
          <button
            pButton
            [icon]="showFilters ? 'pi pi-eye-slash' : 'pi pi-filter'"
            (click)="toggleFilters()"
          ></button>
        </div>
      </ng-template>
      <ng-template pTemplate="right">
        <button
          pButton
          icon="pi pi-plus"
   
          class="p-button-success"
          (click)="showAddUserDialog()"
        ></button>
      </ng-template>
    </p-toolbar>
  </div>
</div>

<div class="container">
  <main>
    <div class="insights">
      <div class="sales" *ngFor="let category of categories">
        <button class="btn top-right" (click)="showEditDialog(category)">✏️</button>
        <span class="material-symbols-sharp">category</span>
        <div class="middle">
          <div class="left">
            <h2>{{ category.name }}</h2>
            <h3>Créé le : {{ category.created_at | date: 'dd/MM/yyyy' }}</h3>
          </div>
        </div>
        <small class="text-muted"
          >Nombre des items : {{ category.items_count || 0 }}</small
        >
        <small class="text-muted"
          >Nombre des domaines : {{ category.domains_count || 0 }}</small
        >
        <br />
        <div class="buttons">
          <button class="btn delete" (click)="deleteCategory(category)">🗑</button>
          <button class="btn edit" (click)="navigateToDomains(category)">⚙️</button>
        </div>
      </div>
    </div>
  </main>
</div>
<!-- 
<p-dialog
  header="Ajouter ou Modifier une Compétence"
  [(visible)]="displayAddUserDialog"
  [modal]="true"
  [style]="{ width: '30vw', zoom: '90%' }"
  [dismissableMask]="true"
>
  <div class="p-fluid">
    <div class="p-field">
      <label for="name">Nom</label>
      <input id="name" pInputText [(ngModel)]="newCategory.name" />
    </div>
    <div class="p-field">
      <label for="description">Description</label>
      <textarea
        id="description"
        pInputTextarea
        [(ngModel)]="newCategory.description"
      ></textarea>
    </div>
  </div>
  <ng-template pTemplate="footer">
    <button
      pButton
      label="Annuler"
      icon="pi pi-times"
      class="p-button-text"
      (click)="displayAddUserDialog = false"
    ></button>
    <button
      pButton
      [label]="newCategory.id ? 'Modifier' : 'Ajouter'"
      icon="pi pi-check"
      class="p-button-success"
      (click)="newCategory.id ? updateCategory() : addCategory()"
    ></button>
  </ng-template>
</p-dialog>




 -->








<p-dialog [(visible)]="displayAddUserDialog" [modal]="true" [style]="{ width: '40vw' }" [draggable]="false" [resizable]="false">
  <ng-template pTemplate="header">
    <div class="custom-dialog-header">
      <h2>Ajouter ou Modifier une Compétence</h2>
    </div>
  </ng-template>
  <div class="dialog-content">
    <div class="field">
      <label for="firstName">Titre</label>
      <input pInputText id="firstName" [(ngModel)]="newCategory.name" placeholder="Titre" required />
    </div>
    <div class="field">
      <label for="lastName">Description</label>
      <input pInputText id="lastName" [(ngModel)]="newCategory.description" placeholder="Description" required />
    </div>

  </div>
  <ng-template pTemplate="footer">
    <p-button label="Annuler" styleClass="p-button-text" (click)="displayAddUserDialog = false"></p-button>
    <p-button [label]="newCategory.id ? 'Modifier' : 'Ajouter'" styleClass="p-button-primary" (click)="newCategory.id ? updateCategory() : addCategory()" [style]="{ color: 'white' }"></p-button>
  </ng-template>
</p-dialog>
