
  <!-- Header -->
    <!-- Header -->
  <section class="featured-section">
    <header class="header__container">
      <div class="header__content ">
        <h2 class="animated-header">Découvrez nos approches pour accompagner les enfants autistes vers une meilleure autonomie.</h2>
       </div>
        <div class="header__image">
            <img src="assets/img/Problem_solving-cuate-removebg-preview.png" alt="header" />
        </div>
        
    </header>
</section>
  

<section class="strategies-section">
  <div class="title">
    <!-- <h3>MY SKILLS</h3> -->
    <h1>🌟 Nos Stratégies</h1>
  </div>
  <div class="strategy-cards">
    <!-- Card 1 -->
    <div class="strategy-card">
      <img src="assets/img/Autism (2).gif" alt="Outils interactifs">
      <h3>Utilisation d’outils interactifs</h3>
      <p>Développer des jeux et activités ludiques pour stimuler les compétences cognitives, sociales et comportementales.</p>
    </div>
    <!-- Card 2 -->
    <div class="strategy-card">
      <img src="assets/img/Autism (1).gif" alt="Approche personnalisée">
      <h3>Approche personnalisée</h3>
      <p>Adapter les stratégies éducatives aux besoins spécifiques de chaque enfant pour des résultats optimaux.</p>
    </div>
    <!-- Card 3 -->
    <div class="strategy-card">
      <img src="assets/img/Autism.gif" alt="Implication des familles">
      <h3>Implication des familles</h3>
      <p>Créer un environnement collaboratif où les parents participent activement à l’évolution de leur enfant.</p>
    </div>
    <!-- Card 4 -->
    <div class="strategy-card">
      <img src="assets/img/Autism (2).gif" alt="Suivi des progrès">
      <h3>Suivi continu des progrès</h3>
      <p>Mettre à disposition des outils pour mesurer l’évolution des compétences et ajuster les objectifs en conséquence.</p>
    </div>
  </div>
</section>