
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


/* Global Styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,html {
    font-family: 'Poppins', arial;
    overflow-x: hidden;
}
:root {
    --h1 :#1e1964;
    --blue : #34A1CD;
    --dark-purple : #55527C;
    --grey : #B4B2C5;
    --pink :  #EA4C89;
    --circle : #F4F3FF;
    --light-pink : #FFF5F6;
    
}
li {
    list-style: none;
}
li:hover {
    font-size: 20px;
    font-weight: bold;
    transform: scale(1.2);
}
h1 {
    font-size: 50px;
    color: var(--h1);
    font-weight: 900;
}
h2 {
    font-size: 50px;
    color: var(--h1);
    font-weight: 900;
    text-align: center;
    
}
h3 {
    color: var(--grey);
}
p {
    font-size: 16px;
    color: black;
}
a {
    text-decoration: none;
}


.ctn {
    width: 100px;
    padding: 8px 12px;
    background: var(--h1);
    color: whitesmoke;
    border-radius: 5px;
    text-align: center;
}
.ctn:hover {
    background: white;
    border: 1px solid var(--h1);
    color: var(--h1);
    font-weight: bold;
}

.container{
    width: 80%;
    margin: 60px auto;
}
.row {
    display: flex;
    justify-content: center;
}
.col {
    display: flex;
    justify-content: center;
}
.highlight {
    color: var(--blue);
}
.circle {
    width: 500px;
    height: 500px;
    background: var(--circle);
    position: absolute;
    top: -40%;
    right: -30%;
    border-radius: 50%;
    z-index: -1;
}

/* Header */
/***************************************************************************/

/***************************************************************************/  

.animated-header {   
    font-size: 2rem;  
    position: relative;  
  }  
  
  .animated-header span {  
    color: #f9a826;  
    font-weight: bold;  
    position: relative;  
  }  
  
  .animated-header span::before {
    content: "innovante"; /* Mot initial */
    animation: changeWord 10s linear infinite; /* Durée totale de l'animation */
  }
  
  @keyframes changeWord {  
    0% {  
      content: "innovante";  
    }  
    33% {  
      content: "créative";  
    }  
    66% {  
      content: "inclusive";  
    }  
    100% {  
      content: "innovante";  
    }  
  }  
  
  .header__container {  
    max-width: 1200px;  
    margin: auto;  
    padding-block: 8rem 2rem;  
    padding-inline: 1rem;  
    display: grid;  
    gap: 16rem;  
    overflow-x: hidden;  
  }  
  
  .header__image {  
    position: relative;  
    isolation: isolate;  
  }  
  
  .header__image::before {  
    position: absolute;  
    content: "";  
    width: 100%;  
    max-width: 550px;  
    aspect-ratio: 1;  
    top: 50%;  
    left: 50%;  
    transform: translate(-50%, -50%);  
    background-size: cover;  
    background-position: center center;  
    background-repeat: no-repeat;  
    border-radius: 100%;  
    opacity: 0.5;  
    z-index: -1;  
  }  
  
  .header__image img {  
    max-width: 300px;  
    margin-inline: auto;  
  }  
  
  
  .header__content h1 {  
    margin-bottom: 1rem;  
    font-size: 5rem;  
    font-weight: 400;  
    font-family: "Bebas Neue", sans-serif;  
    color: black;  
    line-height: 5.5rem;  
    text-align: center;  
  }  
  
  .header__content h1 span {  
    color: rgb(123, 123, 198);  
  }  
  
  .header__content p {  
    margin-bottom: 2rem;  
    color: var(--text-light);  
    line-height: 1.75rem;  
    text-align: center;  
  }  
  
  .featured-section {
    background-image: linear-gradient(to bottom right, #84c1ff, #e4a76efb);

    /* Teinte bleue avec transparence */
      border-radius: 0 0 100px 100px;
      padding-bottom: 5px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  
    }
  
  @media (width > 768px) {
    .header__container {
      padding-block: 2rem;
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
    }
    .header__image img {
      max-width: 520px;
      margin-inline: auto;
    }
    .header__image {
      grid-area: 1/2/2/3;
    }
    .header__content :is(h1, p, .bar) {
      text-align: left;
    }
    
  
    
  }
  @media (width > 1024px) {
    .header__content form {
      flex-direction: row;
    }
    .header__content button {
      width: fit-content;
    }
  }
  @media (max-width: 568px) {
    
      .header__container {
        padding-block: 4rem 1rem;
        padding-inline: 0.5rem;
        gap: 1rem;
      }
    
      .header__image img {
        max-width: 180px;
      }
    
     
      .header__image__card span {
        font-size: 14px;
      }
    
      .header__content h1 {
        font-size: 3rem;
        line-height: 3.5rem;
      }
    
      .header__content p {
        font-size: 0.9rem;
        line-height: 1.5rem;
      }
    
      
    }
  
  
  
  
  /*******************************************/

/* Skills */
.title {
    text-align: center;
    margin-bottom: 60px;
}
.grid-wrapper {
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(400px, auto));
    grid-gap: 50px;
}
.icon-title{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.icon-title img {
    margin-right: 20px;
}
.icon-title h2 {
    font-size: 20px;
    color: var(--h1);
}
.grid-box .highlight {
    color: var(--dark-purple);
    font-weight: bold;
}
.grid-box {
    padding: 30px;
}
.skills .grid-box{
    box-shadow: 4px 4px 10px 10px rgba(187, 223, 251, 0.43);
    border-radius: 20px;
    border: 0.5px black solid;
}
.image{
    width: 100px;
}

/* Portfolio */
.portfolio {
    margin-top: 150px;
    position: relative;
}
.portfolio .title {
    text-align: left;
}
.portfolio .title .ctn-title {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.ctn-title h4 {
    color: var(--dark-purple);
    cursor: pointer;
}
.ctn-title .highlight {
    color: var(--pink);
}
.portfolio .grid-wrapper{
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
    grid-gap: 20px;
}
.rect-bg {
    width: 700px;
    height: 400px;
    background: var(--light-pink);
    position: absolute;
    top: -10%;
    right: -20%;
    z-index: -1;
    border-radius: 20px;
}

.portfolio .grid-box{
    position: relative;
}
.hover {
    position: absolute;
    top: 15%;
    left: 15%;
    width: 60%;
    height: 60%;
    background: var(--dark-purple);
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    color: whitesmoke;
    border-radius: 10px;
    transform: scaleX(0);
    transition: transform 0.5s ease;
    
}
.hover .highlight {
    color: var(--pink);
}

.portfolio .grid-box:hover .hover {
    transform: scaleX(1);
}
/* Testimonials */
.testimonials{
    margin-top: 120px;
    background: var(--light-pink);
    padding: 60px 0px;
}
.testimonials .grid-wrapper {
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
}
.testimonials .grid-box {
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.062);
    position: relative;
}
.testimonials .grid-box img {
    margin-top: -60px;
    margin-bottom: 40px;
    transition: transform 0.5s ease;
}
.testimonials .grid-box .fa-quote-left {
    font-size: 24px;
    color: var(--grey);
}
.testimonials .grid-box p {
    margin: 20px 0px;
}
.testimonials h4 {
    color: var(--dark-purple);
    font-weight: bold;
}
.testimonials .rating {
    color: #ADA8FF;
}
.testimonials .rating-1 {
    color: var(--pink);
}
.testimonials .grid-box:hover img {
    transform: scale(1.2);
}


/* Contact */

.contact .container {
    margin-top: 80px;
    text-align: center;
    background: #E9F9FF;
    padding: 60px;
    border-radius: 20px;
}
.contact .container h3 {
    margin: 40px 0px;
}
.contact .fa {
    margin-right: 30px;
    font-size: 30px;
    color: var(--blue);
}
.contact .quick-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.contact .quick-links ul {
    display: flex;
}
.contact .quick-links ul li {
    margin: 0px 20px;
    color: var(--dark-purple);
    font-weight: bold;
    cursor: pointer;
}


  /* Section Stratégies */
  .strategies-section {
    padding: 4rem 2rem;
    text-align: center;
  }
  
  .strategies-section h2 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    color: #5fa6e4;
  }
  
  .strategy-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
  }
  
  .strategy-card {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
    padding: 1.5rem;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .strategy-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.15);
  }
  
  .strategy-card img {
    width: 80px;
    height: 80px;
    margin-bottom: 1rem;
  }
  
  .strategy-card h3 {
    font-size: 1.5rem;
    color: #5fa6e4;
    margin-bottom: 1rem;
  }
  
  .strategy-card p {
    font-size: 1rem;
    color: #666;
  }
  

  
@media only screen and (max-width : 700px){
  .featured-section{ 
    padding-top: 54px;
  }
h1 {
    font-size: 20px;
}
.animated-header {
  font-size: 19px;
  margin-left: 5px;
}

.header__image {

  margin-left: 77px;
  margin-top: 50px;
}

}