/* You can add global styles to this file, and also import other style files
*/
body{
    margin: 0;
}

:root {
    --h1 : #1e1964;
    --blue : #34A1CD;
    --dark-purple : #74a3e2;
    --grey : #B4B2C5;
    --pink :  #4c7bea;
    --circle : #F4F3FF;
    --light-pink : #85b0e7;
    
}