<footer class="site-footer">
    <div class="footer-container">
        <div class="footer-content">
            <div class="footer-column">
                <h6 class="footer-title">{{ 'footer.resources_title' | translate }}</h6>
                <ul class="footer-links">
                    <li>
                        <a href="#" class="footer-link">{{ 'footer.menu.home' | translate }}</a>
                    </li>
                    <li>
                        <a href="#" class="footer-link">{{ 'footer.menu.evaluation' | translate }}</a>
                    </li>
                    <li>
                        <a href="#" class="footer-link">{{ 'footer.menu.objectives' | translate }}</a>
                    </li>
                    <li>
                        <a href="#" class="footer-link">{{ 'footer.menu.strategies' | translate }}</a>
                    </li>
                </ul>
            </div>
            <div class="footer-column">
                <h6 class="footer-title">{{ 'footer.information_title' | translate }}</h6>
                <div class="footer-contact">
                    <p class="contact-item">
                        <a href="tel:305-240-9671" class="footer-link">{{ 'footer.contact.phone' | translate }}</a>
                    </p>
                    <p class="contact-item">
                        <a href="mailto:infocompany.com" class="footer-link">{{ 'footer.contact.email' | translate }}</a>
                    </p>
                </div>
            </div>
            <div class="footer-column footer-column-social">
                <div class="social-icons">
                    <a href="#" target="_blank" class="social-icon-link facebook">
                        <i class="fab fa-facebook"></i>
                    </a>
                    <a href="#" target="_blank" class="social-icon-link instagram">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a href="#" target="_blank" class="social-icon-link whatsapp">
                        <i class="fab fa-whatsapp"></i>
                    </a>
                    <a href="#" target="_blank" class="social-icon-link linkedin">
                        <i class="fab fa-linkedin"></i>
                    </a>
                </div>
                <p class="copyright-text">{{ 'footer.copyright' | translate }}</p>
            </div>
        </div>
    </div>
</footer>